body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',PlayfairDisplay
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: PlayfairDisplay;
  src: url('/public/Playfair_Display/PlayfairDisplay.ttf') format('truetype');
}

@font-face {
  font-family: Rochester;
  src: url('/public/Rochester/Rochester-Regular.ttf') format('truetype');
}